@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap');
// font-family: 'IBM Plex Sans', sans-serif;

:root {
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --star-gold-color: #ffce3e;

    --header-sort-bar-height: 46px;
    --navbar-height: 34px;
    --header-height: 120px;
    --header-with-search-height: calc(
        var(--header-height) - var(--navbar-height)
    );
}

*{
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
}
